<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layout/mainheader.ejs') %>
</head>
<body>
    <!--Preload screen [Logging in..]-->
    <div id="preload" style="z-index: 100; position: fixed; top: 0; left: 0; bottom: 0; right: 0; display:flex; flex-direction:row; gap: 5px; align-items:center; justify-content:center; background: var(--primary-dark); ">
        <div class="text" style="color: var(--secondary-dark);">Logging in</div><i class="fa-solid fa-circle-notch fa-spin" style="color: var(--secondary-dark);"></i>
    </div>
    <!--Offline Indicator-->
    <div class="offline">
        <div class="icon"><i class="fa-solid fa-circle-exclamation"></i></div>
        <div class="text"></div>
    </div>
    <!--All popups will be shown here-->
    <div class="popup-message"></div>
    <!--The side menu-->
    <div id="sidebar_wrapper">
        <div id="sidebar">
            <div id="keyname" class="clickable keyCopy"><i class="fa-regular fa-clone"></i><span><%=myKey_%></span></div>
            <ul id="userlist"></ul>
            <div class="footer_options">
                <div class="theme_option clickable"><i class="fa-solid fa-palette"></i>Theme</div>
                <div id="logout" class="clickable"><i class="fa-solid fa-arrow-right-from-bracket"></i>Log Out</div>
            </div>
        </div>
        <div class="close_area"></div>
    </div>
    <!--The dark overlay-->
    <div id="focus_glass"></div>

    <!--The main chat area-->
    <div class="chatBox">
        <!-- Navigation -->
        <div class="navbar">
            <div id="currentlyActive"><i class="fa-solid fa-user"></i> Active: <div id="count"></div></div>
            <div class="optionPanel">                
                <!--div class="call-btn clickable">
                    <i class="fa-solid fa-phone"></i>
                </!--div-->
                <div id="more" class="clickable">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
        </div>
        <!-- Chat Messages will append here -->
        <ul id="messages">
            <div class="welcome_wrapper">
                <li class="welcomeText">
                    <div class="link-copy clickable keyCopy">
                        <i class="fa-solid fa-link"></i>
                        <span><%=myKey%></span>
                        <i class="fa-regular fa-clone"></i>
                    </div>
                    <% if (maxUser > 2) { %>
                        <span>Send join link to your friends</span>
                    <% } else { %>
                        <span>Send join link to your friend</span>
                    <% } %>
                    <span id="invite" class="clickable">Invite</span>
                </li>
            </div>
            <!-- All messages will be added here -->
        </ul>
    
        <!-- Reply toast popup-->
        <div id="replyToast">
            <div class="content">
                <div class="title"><i class="fa-solid fa-reply"></i> Replying to <span class="username"></span></div>
                <div class="replyData"></div>
            </div>
            <div class="close">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>

        <!-- All inputs -->
        <div class="footer">
            <!--message popup-->
            <div class="newmessagepopup clickable">
                <img src="" alt="Avatar"><div class="msg"></div><div class="downarrow"><i class="fa-solid fa-arrow-down"></i></div>
            </div>
            <div id="typingIndicator"></div>
            <div class="chatInput">
                <div class="stickerBtn clickable"><i class="fa-solid fa-note-sticky"></i></div>
                <!-- Text input -->
                <div class="attachments clickable" id="attachment"><i class="fa-solid fa-paperclip"></i></div>
                <div class="close_area" id="attmain">
                    <div class="attachmentContainer">
                        <!-- File Choose -->
                        <div class="upload_file clickable">
                            <label for="file" class="file-input-label"><i class="fa-regular fa-file-lines"></i></label>
                            <input type="file" name="file" id="file">
                            <div class="text">File</div>
                        </div>
                        <!-- Image Choose -->
                        <div class="upload_image clickable">
                            <label for="photo"><i class="fa-regular fa-image"></i></label>
                            <input type="file" name="photo" id="photo" accept="image/png, image/jpg, image/jpeg, image/gif">
                            <div class="text">Image</div>
                        </div>
                        <!-- Location input -->
                        <div class="location clickable" id="send-location">
                            <i class="fa-solid fa-location-crosshairs"></i>
                            <div class="text">Location</div>
                        </div>
                        <!-- Poll -->
                        <div class="poll clickable" id="createPollBtn">
                            <i class="fa-solid fa-square-poll-horizontal"></i>
                            <div class="text">Poll</div>
                        </div>
                    </div>
                </div>
                <textarea name="chatInputBox" id="textbox" class="select" rows="1" placeholder="Message..."></textarea>
                <!-- Send Button-->
                <button id="send"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
        <div class="stickersPanel" id="stickersPanel">
            <div class="stickerGroups">
                <div class="names" id="selectStickerGroup"></div>
                <i class="fa-solid fa-xmark clickable" id="closeStickersPanel"></i>
            </div>
            <div class="stickers" id="stickers">Loading&nbsp;<i class="fa-solid fa-circle-notch fa-spin" style="color: var(--secondary-dark)"></i></div>
        </div>
    </div>


    <!-- Utilities -->

    
    <!-- Options container for reacts and other functionalities -->
    <div id="optionsContainerWrapper">
        <div class="close_area"></div>
        <div id="optionsContainer">
            <div class="reactOptionsWrapper">
                <ul id="reactOptions" class="options">
                    <div class="💙">💙</div>
                    <div class="😂">😂</div>
                    <div class="😮">😮</div>
                    <div class="😢">😢</div>
                    <div class="😠">😠</div>
                    <div class="👍🏻">👍🏻</div>
                    <div class="👎🏻">👎🏻</div>
                </ul>
            </div>
            <div class="normalOptionWrapper">
                <ul id="normalOptions" class="options">
                    <div class="replyOption"><i class="fa-solid fa-reply"></i> <span>Reply</span></div>
                    <div class="copyOption" style="display: none;"><i class="fa-solid fa-clone"></i> <span>Copy</span></div>
                    <div class="downloadOption" style="display: none;"><i class="fa-solid fa-download"></i> <span>Download</span></div>
                    <div class="deleteOption"><i class="fa-solid fa-trash"></i> <span>Delete</span></div>
                </ul>
            </div>
        </div>
    </div>


    <!-- Image Preview -->

    <div id="previewImage">
        <div id="selectedImage"></div>
        <div class="option">
            <div class="close"><i class="fa-solid fa-xmark"></i></div>
            <div id="imageSend"><i class="fa-solid fa-paper-plane"></i></div>
        </div>
    </div>

    <!--Image will be viewed here-->
    <div id="lightbox">
        <div class="tool">
          <div id="lightbox__save"><i class="fa-solid fa-download"></i></div>
          <div id="lightbox__close"><i class="fa-solid fa-xmark"></i></div>
        </div>
        <div id="lightbox__image"></div>
    </div>

    <!-- Image Drag and drop overlay -->

    <div class="fileDropZone">
        <div class="fileDropZoneContent">
            <span>Drop file here</span>
        </div>
    </div>

    <!-- Reacts of all peoples -->
    <div class="reactorContainerWrapper">
        <div class="reactorContainer">Reactions <ul></ul></div>
    </div>

    <!-- The theme options -->
    <div class="themeChooser">
        <ul class="themeList">
            <li class="theme clickable" id="blue">
                <img class="themeIcon" src="/images/backgrounds/blue_icon.webp" alt=""><span>Blue</span>
            </li>
            <li class="theme clickable" id="dark_mood">
                <img class="themeIcon" src="/images/backgrounds/dark_mood_icon.webp" alt=""><span>Dark Mood</span>
            </li>
            <li class="theme clickable" id="forest">
                <img class="themeIcon" src="/images/backgrounds/forest_icon.webp" alt=""><span>Forest</span>
            </li>
            <li class="theme clickable" id="geometry">
                <img class="themeIcon" src="/images/backgrounds/geometry_icon.webp" alt=""><span>Geometry</span>
            </li>
        </ul>
    </div>

    <!-- Message template -->
    <template id="messageTemplate">
        <li class="message msg-item {{classList}}" id="{{messageId}}" data-uid="{{uid}}" data-type="{{type}}"> <!-- noreply notitle delevered start end self react -->
            <div class="messageContainer">
                <div class="sent"><i class="fa-regular fa-paper-plane"></i></div>
                <div class="avatar">{{{avatar}}}</div>
                <div class="messageBody">
                    <div class="messageTitle">{{title}}</div>
                    <div class="messageReply" data-repid="{{repId}}" data-reply-for="{{replyFor}}" data-deleted>{{{replyMsg}}}</div>
                    <div class="messageMain">{{{message}}}</div>
                    <div class="reactsOfMessage"></div>
                </div>
                <div class="messageTime">{{time}}</div>
                <div class="reactedUsers" style="display: none;"></div>
            </div>
            <div class="seenBy"></div>
        </li>
    </template>

    <template id="fileTemplate">
        <li class="message msg-item {{classList}}" id="{{messageId}}" data-uid="{{uid}}" data-type="{{type}}">
            <div class="messageContainer">
                <div class="sent"><i class="fa-regular fa-paper-plane"></i></div>
                <div class="avatar">{{{avatar}}}</div>
                <div class="messageBody">
                    <div class="messageTitle">{{title}}</div>
                    <div class="messageReply" data-repid="{{repId}}" data-reply-for="{{replyFor}}" data-deleted>{{{replyMsg}}}</div>
                    <div class="messageMain">
                        <div class="file" data-data="{{data}}" data-ext="{{ext}}">
                            <div class="fileIcon">
                                <i class="fa-regular fa-file-lines"></i>
                            </div>
                            <div class="fileInfo">
                                <div class="fileName">{{fileName}}</div>
                                <div class="filemeta">
                                    <div class="progress"></div>
                                    <div class="fileSize">{{fileSize}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reactsOfMessage"></div>
                </div>
                <div class="messageTime">{{time}}</div>
                <div class="reactedUsers" style="display: none;"></div>
            </div>
            <div class="seenBy"></div>
        </li>
    </template>
    <svg class='hideSvgSoThatItSupportsFirefox'>
        <filter id='sharpBlur'>
          <feGaussianBlur stdDeviation='5'></feGaussianBlur>
          <feComposite in2='SourceGraphic' operator='in'></feComposite>
        </filter>
    </svg>
    <script>
        const myId = "<%=myId_%>";
        const myName = "<%=myName_%>";
        const myAvatar = "<%=myAvatar_%>";
        const myKey = "<%=myKey_%>";
        const maxUser = "<%=maxUser_%>";
        const devMode = "<%=devMode_%>";
        let THEME = "";
        const themeAccent = {
            blue: {
                secondary: 'hsl(213, 98%, 57%)',
                foreground: '#e1eeff',
                msg_get: 'hsl(213, 40%, 57%)',
                msg_get_reply: 'hsl(213, 35%, 27%)',
                msg_send: 'hsl(213, 98%, 57%)',
                msg_send_reply: 'hsl(213, 88%, 27%)'
            },
            geometry: {
                secondary: 'hsl(15, 98%, 57%)',
                foreground: '#e1eeff',
                msg_get: 'hsl(15, 40%, 57%)',
                msg_get_reply: 'hsl(15, 35%, 27%)',
                msg_send: 'hsl(15, 98%, 57%)',
                msg_send_reply: 'hsl(15, 88%, 27%)'
            },
            dark_mood: {
                secondary: 'hsl(216, 37%, 44%)',
                foreground: '#e1eeff',
                msg_get: 'hsl(216, 27%, 33%)',
                msg_get_reply: 'hsl(216, 20%, 21%)',
                msg_send: 'hsl(216, 37%, 44%)',
                msg_send_reply: 'hsl(216, 32%, 23%)'
            },
            forest: {
                secondary: 'hsl(162, 60%, 42%)',
                foreground: '#e1eeff',
                msg_get: 'hsl(162, 18%, 41%)',
                msg_get_reply: 'hsl(162, 14%, 27%)',
                msg_send: 'hsl(162, 60%, 42%)',
                msg_send_reply: 'hsl(162, 32%, 34%)'
            }
        }

        function loadTheme(){
            THEME = localStorage.getItem("theme");
            if(THEME == null){
                THEME = "blue";
                localStorage.setItem("theme", THEME);
            }
            document.documentElement.style.setProperty('--pattern', `url('../images/backgrounds/${THEME}_w.webp')`);
            document.documentElement.style.setProperty('--secondary-dark', themeAccent[THEME].secondary);
            document.documentElement.style.setProperty('--msg-get', themeAccent[THEME].msg_get);
            document.documentElement.style.setProperty('--msg-get-reply', themeAccent[THEME].msg_get_reply);
            document.documentElement.style.setProperty('--msg-send', themeAccent[THEME].msg_send);
            document.documentElement.style.setProperty('--msg-send-reply', themeAccent[THEME].msg_send_reply);
            document.querySelector('meta[name="theme-color"]').setAttribute('content', themeAccent[THEME].secondary);
        }
        
        loadTheme();
        
        document.addEventListener('click', ()=> {
                history.pushState({}, '', "#init");
                history.pushState({}, '', "#inbox");
                window.onpopstate = ()=>{
                history.forward();
                }
        }, {once: true});
        
    </script>
</body>
</html>
