<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layout/entryheader.ejs') %> 
    <script defer src="/scripts/login.min.js"></script>
</head>
<body>
    <div class="container">
        <form class="form" action="/chat" method="post" onsubmit="return check();">
            <div class="subform" id="form1">
                <div class="title">
                    <div>Join a chat</div>
                    <img src="/images/pokeball.png" height="40px" width="40px" alt="logo">
                </div>
                <div class="form-field">
                    <label for="key" id="label"><%-key_label%> </label>
                    <div id="keyErr" class="errLog"></div>
                    <% if (key) { %>
                        <input type="text" autocomplete="off" name="key" id="key" placeholder="xxx-xxx-xxx-xxx" value="<%=key_%>">
                    <% } else { %>
                        <input type="text" autocomplete="off" name="key" id="key" placeholder="xxx-xxx-xxx-xxx">
                    <% } %>
                </div>
                <div class="form-field">
                    <button id="next" type="button">Next</button>
                </div>
                <div class="redirect">
                    <fieldset>
                        <legend>Or</legend>
                        <a id="redirect" class="noSelect" href="/create" onclick="return wait();">Create chat</a>
                    </fieldset>
                </div>
            </div>
            <div class="subform" id="form2">
                <div class="form-field">
                    <label for="username">Choose username <i class="fa-solid fa-id-card-clip"></i></label>
                    <div id="usernameErr" class="errLog"></div>
                    <input type="text" autocomplete="off" name="username" id="username" placeholder="Username">
                </div>
                <div class="form-field avatar-field">
                    <label for="avatar">Choose avatar <i class="fa-solid fa-user-astronaut"></i></label>
                    <div id="avatarErr" class="errLog"></div>
                    <div class="avatar-container">
                        <%- include ('layout/avatars.ejs') %> 
                    </div>
                </div>
                <div class="form-field">
                    <button id="enter" type="submit">Enter Chat</button>
                </div>
            </div>
        </>
    </div>
    <%- include ('layout/entryfooter.ejs') %>
    <% if (key) { %>
        <script>
            window.addEventListener('DOMContentLoaded', function() {
                document.getElementById('next').click();
            });
        </script>
    <% } %>
</body>
</html>