<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/mainheader.ejs') %>
</head>
<body>
    <!--Preload screen [Logging in..]-->
    <div id="preload" style="z-index: 100; position: fixed; top: 0; left: 0; bottom: 0; right: 0; display:flex; flex-direction:row; gap: 5px; align-items:center; justify-content:center; background: var(--primary-dark); ">
        <div class="text" style="color: var(--secondary-dark);">Connecting to server</div><i class="fa-solid fa-circle-notch fa-spin" style="color: var(--secondary-dark);"></i>
    </div>
    <!--Offline Indicator-->
    <div class="offline">
        <div class="icon"><i class="fa-solid fa-circle-exclamation"></i></div>
        <div class="text"></div>
    </div>
    <!--All popups will be shown here-->
    <div class="popup-message"></div>
    <!--The side menu-->
    <div id="sidebar_wrapper">
        <div id="sidebar">
            <div class="topbar">
                <div id="keyname" class="clickable keyCopy"><i class="fa-regular fa-clone"></i><span><%=myKey_%></span></div>
            </div>
            <ul id="userlist"></ul>
            <div class="footer_options">
                <div id="themeButton" class="button clickable"><i class="fa-solid fa-palette"></i><span>Theme</span></div>
                <div id="logoutButton" class="button clickable"><i class="fa-solid fa-arrow-right-from-bracket"></i><span>Logout</span></div>
            </div>
            <div class="credits">
                <div class="version">Version: <%=version%></div>
                <div class="author">Developed by <%=developer%></div>
            </div>
        </div>
        <div class="close_area"></div>
    </div>
    <!--The dark overlay-->
    <div id="focus_glass"></div>

    <!--The main chat area-->
    <div class="chatBox">
        <!-- Navigation -->
        <div class="navbar">
            <div id="currentlyActive"><i class="fa-solid fa-user"></i> Active: <div id="count"></div></div>
            <div class="optionPanel">                
                <!--div class="call-btn clickable">
                    <i class="fa-solid fa-phone"></i>
                </!--div-->
                <div id="more" class="clickable" title="Active users & more">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
        </div>
        <!-- Chat Messages will append here -->
        <ul id="messages">
            <div class="welcome_wrapper">
                <li class="welcomeText">
                    <div class="link-copy clickable keyCopy" title="Click to copy">
                        <i class="fa-solid fa-link"></i>
                        <span><%=myKey%></span>
                        <i class="fa-regular fa-clone"></i>
                    </div>
                    <% if (maxUser > 2) { %>
                        <span>Send join link to your friends</span>
                    <% } else { %>
                        <span>Send join link to your friend</span>
                    <% } %>
                    <span id="invite" class="clickable" title="Click to invite">Invite</span>
                </li>
            </div>
            <!-- All messages will be added here -->
        </ul>
        <!--message popup-->
        <div class="newmessagepopup clickable">
            <img src="" alt="Avatar"><div class="msg"></div><div class="downarrow"><i class="fa-solid fa-arrow-down"></i></div>
        </div>
        <!-- Reply toast popup-->
        <div id="replyToast">
            <div class="content">
                <div class="title"><i class="fa-solid fa-reply"></i> Replying to <span class="username"></span></div>
                <div class="replyData"></div>
            </div>
            <div class="close">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>

        

        <!-- All inputs -->
        <div class="footer">
            <div id="typingIndicator">
                <div class="text"></div>
                <div class="bubble">
                    <div class="dot bouncing"></div>
                    <div class="dot bouncing"></div>
                    <div class="dot bouncing"></div>
                </div>
            </div>
            <div class="chatInput">
                <div class="stickerBtn clickable" title="Send stickers"><i class="fa-solid fa-note-sticky"></i></div>
                <!-- Text input -->
                <div class="attachments clickable" id="attachment" title="Send attactments"><i class="fa-solid fa-paperclip"></i></div>
                <div class="close_area" id="attmain">
                    <div class="attachmentContainer">
                        <!-- File Choose -->
                        <div class="upload_file clickable attachmentButton">
                            <label for="fileChooser" class="file-input-label"><i class="fa-regular fa-file-lines fa-shake"></i></label>
                            <input type="file" multiple name="file" id="fileChooser" >
                            <div class="text">File</div>
                        </div>
                        <!-- Image Choose -->
                        <div class="upload_image clickable attachmentButton">
                            <label for="photoChooser"><i class="fa-regular fa-image fa-shake"></i></label>
                            <input type="file" multiple name="photo" id="photoChooser"  accept="image/png, image/jpg, image/jpeg, image/gif">
                            <div class="text">Image</div>
                        </div>

                        <!-- Audio Choose -->
                        <div class="upload_audio clickable attachmentButton">
                            <label for="audioChooser"><i class="fa-solid fa-music fa-shake"></i></label>
                            <input type="file" multiple name="audio"  id="audioChooser" accept="audio/*">
                            <div class="text">Audio</div>
                        </div>

                        <!-- Location input -->
                        <div class="location clickable attachmentButton" id="send-location">
                            <i class="fa-solid fa-location-crosshairs fa-shake"></i>
                            <div class="text">Location</div>
                        </div>
                        <!-- Poll -->
                        <!--div class="poll clickable" id="createPollBtn">
                            <i class="fa-solid fa-square-poll-horizontal"></i>
                            <div class="text">Poll</div>
                        </!div-->
                    </div>
                </div>
                <div class="inputField">
                    <textarea name="chatInputBox" id="textbox" class="select" rows="1" placeholder="Message..."></textarea>
                    <!-- Microphone -->
                    <div class="voiceRecorder" id="recorderOverlay" data-recordingstate="false">
                        <div class="recordBtn btn" id="recordVoiceButton" data-playstate="">
                            <i class="fa-solid fa-microphone" id="micIcon"></i>
                        </div>
                        <div class="recording">
                            <span class="recordingText"><i class="fa-solid fa-circle recordIcon"></i></span>
                            <span id="recordingTime" class="recordingTime">00:00</span>
                        </div>
                        <div class="cancelBtn btn clickable" id="cancelVoiceRecordButton">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                        <div id="audiovisualizer"></div>
                    </div>
                </div>

                  
                <!-- Send Button-->
                <button id="send" title="Ctrl + Enter"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
        <div class="stickersPanel" id="stickersPanel">
            <div class="stickerGroups">
                <div class="horizontal-flow">
                    <i class="fa-solid fa-angle-left"></i>
                    <div class="names" id="selectStickerGroup"></div>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
            <div class="stickers" id="stickers">Loading&nbsp;<i class="fa-solid fa-circle-notch fa-spin" style="color: var(--secondary-dark)"></i></div>
        </div>
    </div>

    <!-- Utilities -->

    <!-- Options container for reacts and other functionalities -->
    <div id="optionsContainerWrapper">
        <div class="close_area"></div>
        <div id="optionsContainer">
            <div class="reactOptionsWrapper" data-closed="true">
                <ul id="reactOptions" class="options">
                    <!--Reacts-->
                    <div class="more" title="More reactions" id="showMoreReactBtn"><i class="fa-solid fa-plus"></i></div>
                </ul>
            </div>
            <div class="normalOptionWrapper">
                <ul id="normalOptions" class="options">
                    <div class="replyOption"><i class="fa-solid fa-reply"></i> <span>Reply</span></div>
                    <div class="copyOption" style="display: none;"><i class="fa-solid fa-clone"></i> <span>Copy</span></div>
                    <div class="downloadOption" style="display: none;"><i class="fa-solid fa-download"></i> <span>Download</span></div>
                    <div class="deleteOption"><i class="fa-solid fa-trash"></i> <span>Delete</span></div>
                </ul>
            </div>
        </div>
    </div>

    <div class="moreReactsContainer">
        <div class="horizontal-line"></div>
        <div class="moreReacts">
            <!-- Add more emojis -->
        </div>
    </div>

    <!-- Image Preview -->

    <div id="previewFile">
        <div id="selectedFiles"></div>
        <div class="option">
            <div class="close"><i class="fa-solid fa-xmark"></i></div>
            <div id="imageSend"><i class="fa-solid fa-paper-plane"></i></div>
        </div>
    </div>

    <!--Image will be viewed here-->
    <div id="lightbox">
        <div class="tool">
          <div id="lightbox__save"><i class="fa-solid fa-download"></i></div>
          <div id="lightbox__close"><i class="fa-solid fa-xmark"></i></div>
        </div>
        <div id="lightbox__image"></div>
    </div>

    <!-- Image Drag and drop overlay -->

    <div class="fileDropZone">
        <div class="fileDropZoneContent">
            <span>Drop file here</span>
        </div>
    </div>

    <!-- Reacts of all peoples -->
    <div class="reactorContainerWrapper">
        <div class="reactorContainer">Reactions <ul></ul></div>
    </div>

    <!-- The theme options -->
    <div class="themeChooser">
        <ul class="themeList">
            <li class="theme clickable" id="blue">
                <img class="themeIcon" src="/images/backgrounds/blue_icon.webp" alt=""><span>Blue</span>
            </li>
            <li class="theme clickable" id="dark_mood">
                <img class="themeIcon" src="/images/backgrounds/dark_mood_icon.webp" alt=""><span>Dark Mood</span>
            </li>
            <li class="theme clickable" id="forest">
                <img class="themeIcon" src="/images/backgrounds/forest_icon.webp" alt=""><span>Forest</span>
            </li>
            <li class="theme clickable" id="geometry">
                <img class="themeIcon" src="/images/backgrounds/geometry_icon.webp" alt=""><span>Geometry</span>
            </li>
        </ul>
    </div>

    <!-- Message template -->
    <template id="messageTemplate">
        <li class="message msg-item {{classList}}" id="{{messageId}}" data-uid="{{uid}}" data-type="{{type}}"> <!-- noreply notitle delevered start end self react -->
            <div class="messageContainer">
                <div class="replyIcon">
                    <i class="fa-solid fa-reply"></i>
                </div>
                <div class="sent"><i class="fa-regular fa-paper-plane"></i></div>
                <div class="avatar"><img src="{{avatarSrc}}" width='30px' height='30px' alt='avatar'/></div>
                <div class="messageBody">
                    <div class="messageTitle">{{{title}}}</div>
                    <div class="messageReply" data-repid="{{repId}}" data-reply-for="{{replyFor}}" data-deleted>{{{replyMsg}}}</div>
                    <div class="messageMain">
                        {{{message}}}
                        <div class="messageTime" data-timestamp="{{timeStamp}}">{{time}}</div>
                    </div>
                    <div class="reactsOfMessage"></div>
                </div>
                <div class="reactedUsers" style="display: none;"></div>
            </div>
            <div class="seenBy"></div>
        </li>
    </template>

    <template id="fileTemplate">
        <li class="message msg-item {{classList}}" id="{{messageId}}" data-uid="{{uid}}" data-type="{{type}}">
            <div class="messageContainer">
                <div class="replyIcon">
                    <i class="fa-solid fa-reply"></i>
                </div>
                <div class="sent"><i class="fa-regular fa-paper-plane"></i></div>
                <div class="avatar"><img src="{{avatarSrc}}" width='30px' height='30px' alt='avatar'/></div>
                <div class="messageBody">
                    <div class="messageTitle">{{{title}}}</div>
                    <div class="messageReply" data-repid="{{repId}}" data-reply-for="{{replyFor}}" data-deleted>{{{replyMsg}}}</div>
                    <div class="messageMain">
                        <div class="file msg" data-src="{{source}}" data-ext="{{ext}}">
                            <div class="fileIcon">
                                <i class="fa-regular fa-file-lines"></i>
                            </div>
                            <div class="fileInfo">
                                <div class="fileName">{{fileName}}</div>
                                <div class="filemeta">
                                    <div class="progress"></div>
                                    <div class="fileSize">{{fileSize}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="messageTime" data-timestamp="{{timeStamp}}">{{time}}</div>
                    </div>
                    <div class="reactsOfMessage"></div>
                </div>
                <div class="reactedUsers" style="display: none;"></div>
            </div>
            <div class="seenBy"></div>
        </li>
    </template>


    <template id="audioMessageTemplate">
        <li class="message msg-item {{classList}}" id="{{messageId}}" data-uid="{{uid}}" data-type="{{type}}"> <!-- noreply notitle delevered start end self react -->
            <div class="messageContainer">
                <div class="replyIcon">
                    <i class="fa-solid fa-reply"></i>
                </div>
                <div class="sent"><i class="fa-regular fa-paper-plane"></i></div>
                <div class="avatar"><img src="{{avatarSrc}}" width='30px' height='30px' alt='avatar'/></div>
                <div class="messageBody">
                    <div class="messageTitle">{{{title}}}</div>
                    <div class="messageReply" data-repid="{{repId}}" data-reply-for="{{replyFor}}" data-deleted>{{{replyMsg}}}</div>
                    <div class="messageMain">
                        <div class="msg audioMessage" data-length="{{length}}" data-src="{{source}}" data-ext="{{ext}}">
                            <div class="main-element">
                                <audio style="display: none;"></audio>
                                <div class="controls">
                                    <div class="play-pause control"><i class="fa-solid fa-play"></i></div>
                                    <div class="stop control"><i class="fa-solid fa-stop"></i></div>
                                </div>
                                <div class="progress">Uploading...</div>
                                <div class="time">{{length}}</div>
                            </div>
                        </div>
                        <div class="messageTime" data-timestamp="{{timeStamp}}">{{time}}</div>
                    </div>
                    <div class="reactsOfMessage"></div>
                </div>
                <div class="reactedUsers" style="display: none;"></div>
            </div>
            <div class="seenBy"></div>
        </li>
    </template>

    <svg class='hideSvgSoThatItSupportsFirefox'>
        <filter id='sharpBlur'>
          <feGaussianBlur stdDeviation='5'></feGaussianBlur>
          <feComposite in2='SourceGraphic' operator='in'></feComposite>
        </filter>
    </svg>
    <div id="userMetaTemplate">
        <div id="myId"><%=myId_%></div>
        <div id="myName"><%=myName_%></div>
        <div id="myAvatar"><%=myAvatar_%></div>
        <div id="myKey"><%=myKey_%></div>
        <div id="maxUser"><%=maxUser_%></div>
    </div>
</body>
</html>
