<div id="userMetaTemplate">
    <div id="myId"><%=myId_%></div>
    <div id="myName"><%=myName_%></div>
    <div id="myAvatar"><%=myAvatar_%></div>
    <div id="myKey"><%=myKey_%></div>
    <div id="maxUser"><%=maxUser_%></div>
</div>