<div class="avatars">
    <% for( let i = 0; i < avList.length; i++ ) { %>  
    <div class="avatar">
        <input type="radio" name="avatar" value="<%=avList[i]%>" id="<%=avList[i]%>">
        <label for="<%=avList[i]%>" class="clickable"><img src="/images/avatars/<%=avList[i]%>(custom).png" alt="<%=avList[i]%>"></label>
    </div>
    <% } %>
</div>